.centeredAboutWrapper {
  display: flex;
  flex-grow: 1;
  max-width: 964px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 58px);
}
.centered {
  max-width: 100%;
}
.logo_name {
  font-size: 31px;
  text-align: center;
  line-height: 36px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 10px;
  @media (max-width: 768px) {
    padding-top: 20px;
  }
}
.subtitle_name {
  text-align: center;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  padding-bottom: 10px;
}
.formBlock {
  display: flex;
  max-width: 964px;
  justify-content: space-between;
  @media (max-width: 964px) {
    display: block;
  }
}
.submit {
  max-width: 420px;
  margin: 20px auto 0 auto;
  @media (max-width: 964px) {
    padding: 0 26px;
  }
}

.formSectionFirst {
  padding: 0 26px 0 0;
  min-width: 360px;
  @media (max-width: 964px) {
    border: none;
    padding: 0 0 20px 26px;
  }
}
.formSectionBorder {
  padding: 0 26px;
  min-width: 290px;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  @media (max-width: 964px) {
    border: none;
    padding: 0 0 20px 26px;
  }
}
.formSectionLast {
  padding: 0 0 0 26px;
}
.subtitle {
  font-size: 27px;
  font-weight: 700;
  color: #FFEA84;
}
.itemsList {
  margin: 0;
  padding: 0;
  li {
    display: flex;
    color: #fff;
    align-items: baseline;
    span {
      padding-left: 10px;
      font-size: 18px;
    }
  }
}
.itemsList input[type="checkbox"] {
  min-width: 20px;
  min-height: 20px;
  border-radius: 3px;
  position: relative;
  top: 5px;
}
