.home_page {
  max-width: 996px;
  margin: 0 auto;
  padding: 50px 10px 10px;
  min-height: calc(100vh - 74px);
}
.emptyBookShelf {
  width: 100%;
  min-height: 80vh;
  justify-content: center;
  display: flex;
  align-items: center;
}
.emptyInner {
  margin: 0 auto;
  width: 341px
}
.innerImg {
  height: 170px;
  width: 170px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 20px auto;
}
.title {
  font-size: 22px;
  font-weight: 600;
  color: #000;
  text-align: center;
}
.subTitle {
  font-size: 18px;
  font-weight: 700;
  color: #545150;
  text-align: center;
  margin: 0 0 20px 0;
}