.profile_page_wrap {
  margin: 0 auto;
  padding: 100px 0 0;
}
.profile_page {
  margin: 0 auto;
  min-height: calc(100vh - 74px);
  background: #FBF1EA;
  border-radius: 32px 32px 0 0;
  position: relative;
}
.profile_logo {
  width: 74px;
  height: 74px;
  padding: 5px;
  overflow: hidden;
  border-radius: 50%;
  background: #FBF1EA;
  position: absolute;
  top: -37px;
  left: calc(50% - 37px);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }
}
.profile_page_content {
  padding-top: 40px;
  max-width: 358px;
  margin: 0 auto;
}
.userInfo {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.userName {
  display: flex;
  align-items: center;
  span {
    color: #000;
    font-size: 27px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
  }
}
.editButton {
  width: 32px;
  min-width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(153, 108, 66, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 0;
  margin-left: 9px;
  cursor: pointer;
}
.userBirth {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #121212;
  margin-bottom: 30px;
}
.logOutBtn {
  display: flex;
  margin: 0 auto;
  align-items: center;
  min-width: 158px;
  width: fit-content;
  text-align: start;
  height: 53px;
  border-radius: 14px;
  padding: 0 16px;
  color: #996C42;
  font-size: 21px;
  cursor: pointer;
  border: 1px solid rgba(153, 108, 66, 0.12);
  outline: none;
  background-color: #EEE0D4 !important;
  font-weight: 700;
  &:hover {
    opacity: 0.8;
  }
}
