
.inputWrapper {
  position: relative;
  margin-bottom: 16px;
}

.error {
  color: #FFD8D4;
  background: #94524C;
  font-size: 14px;
  padding: 20px 20px 12px;
  border-radius: 0 0 14px 14px;
  margin-top: -30px;
  text-align: start;
}

.inputWrapperLang {
  position: relative;
  margin-bottom: 16px;
  background-image: url('../../../../assets/images/icons/arrowDownBlack.svg') !important;
  background-repeat: no-repeat;
  background-position: top 50% right 31px;
  background-color: #EEE0D4 !important;
  border-radius: 14px;
}
.flagIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.kidsSelectWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 68px;
  border-radius: 14px;
  padding: 0 16px;
  border: 1px solid rgba(153, 108, 66, 0.12);
  background: #EEE0D4;
  & > label {
    font-weight: 700;
    font-size: 21px;
    color: #595959;
  }
}
.aiWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: start;
  height: 68px;
  border-radius: 14px;
  padding: 0 16px;
  color: #121212;
  font-size: 21px;
  border: 1px solid rgba(153, 108, 66, 0.12);
  box-sizing: border-box;
  outline: none;
  background-color: #EEE0D4 !important;
  font-weight: 700;
  background-image: url('../../../../assets/images/icons/arrow-right.svg') !important;
  background-repeat: no-repeat;
  background-position: top 50% right 31px;
  cursor: pointer;
  span {
    color: #996C42;
  }
}
.aiAvatar {
  width: 39px;
  height: 39px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 7px;
  img {
    width: 100%;
  }
}
.spinnerWrapper {
  margin-top: 150px;
}

.profileForm {
  display: grid;
  gap: 16px;
  margin-bottom: 40px;
  width: 100%;
}
