.logo_code_name {
  font-size: 31px;
  line-height: 47px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 10px;
}
.code_subtitle {
  font-size: 21px;
  line-height: 27px;
  color: #fff;
  font-weight: 700;
  padding: 0 0 20px;
}
.formContainer {
  .codeInputWrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 20px auto;
    width: 318px;
  }

  .codeInput {
    all: unset;
    width: 41px;
    height: 49px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.14);
    margin: 0 5px;
    &:focus {
      outline: none;
    }

    &:focus-visible {
      border: 1px solid rgba(255, 255, 255, 0.8);
      background: rgba(255, 255, 255, 0.4);
    }
  }
}