.wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}
.voiceBlock {
  display: flex;
  align-items: center;
  background: linear-gradient(to bottom, #d3a171, #c18a5b, #a66744);
  padding: 0 20px;
  border-radius: 16px;
  min-height: 88px;
  width: 100%;
}

.btnPause {
  width: 48px !important;
}

.stopBtnIconWrapper {
  width: 60px;
  min-width: 60px;
  height: 60px;
  background: #fff;
  flex-grow: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  margin-right: 4px;
  border: 8px solid #dcbba1;
  //box-sizing: content-box;
  .progressBlock {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    font-size: 12px;
    color: white !important;
  }
}

.stopBtnIconWrapperPaused {
  color:#fff;
}
.stopBtn {
  display: flex;
  align-items: center;
  padding: 0 !important;
}
.stopRecording {
  height: 62px;
  width: 70px;
  margin: 0 0 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.startRecording {
  height: 62px;
  width: 70px;
  margin: 0 0 0 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.readyRecordingWrapper {
  display: flex;
  min-width: 140px;
  margin-right: 10px;
  align-items: center;
}
.hiddenPlayBtn {
  position: absolute !important;
  visibility: hidden;
}
//.deleteBtn {
//  margin-left: 8px;
//  width: 48px !important;
//}
.playBtn {
  width: 48px !important;
  margin-left: 30px;
  margin-right: 12px;
}
.name {
  min-width: 95px;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;

}

.playBtnForReadyAudio {
  position: absolute;
  left: 41%;
  top: 16px;
}
.blockForReadyAudio  {
  padding: 6px;
}
.btnMic {
  margin-left: 10px;
}
.StopIcon {
  height: 14px;
  width: 14px;
  background: #996C42;
  border-radius: 2px;
}
.initialBlock {
  width: 100%;
}