.askQuestionWrap {
  max-width: 950px;
  margin: 0 auto;
}

.askQuestionPage {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
}
.avatarSide {
  align-items: center;
  flex-grow: 0;
  width: 40%;
  display: flex;
  flex-direction: column;
  min-height: 500px;
  //justify-content: center;
  margin-top: 20px;
  img {
    margin-bottom: 20px;
  }
}
.desktopView {
  display: block;
  @media (max-width: 968px) {
    display: none;
  }
}
.mobileView {
  display: none;
  @media (max-width: 968px) {
    display: block;
  }
}
.flex_wrap {
  width: 100%;
  display: flex;
  @media (max-width: 968px) {
    flex-direction: column;
    align-items: center;
  }
}
.chatContainer {
  flex-grow: 0;
  min-height: 84vh;
  max-height: 84vh;
  width: 60%;
  max-width: 450px;
  color: #ffffff;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;

  .chatContent {
    flex-grow: 1; /* Контейнер занимает оставшееся пространство */
    overflow-y: auto; /* Включение вертикальной прокрутки */
    display: flex;
    flex-direction: column; /* Элементы выстраиваются по вертикали */
    padding: 20px;
    max-height: calc(100vh - 94px); /* Ограничение высоты */
    scrollbar-color: #8E8E93 rgba(255, 255, 255, 0.1); /* Цвет ползунка */
    scrollbar-width: thin; /* Узкий скроллбар */

    ::-webkit-scrollbar {
      width: 8px; /* Ширина скроллбара */
    }
    ::-webkit-scrollbar-thumb {
      background: #8E8E93; /* Цвет ползунка */
      border-radius: 5px;
    }
    ::-webkit-scrollbar-track {
      background: rgba(255, 255, 255, 0.1); /* Цвет трека */
    }

    /* Для автоматического смещения контента вверх */
    & > :first-child {
      margin-top: auto; /* Отодвигаем все сообщения наверх */
    }
  }

  .messageUser {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
    .userMessage {
      background-color: #996C42;
      color: #fff;
      padding: 10px;
      border-radius: 10px;
      max-width: 95%;
      text-align: left;
    }
    .messageTime {
      margin-left: auto;
      color: #fff;
      font-size: 12px;
      font-style: italic;
      align-self: flex-end;
    }
    .readMoreBtn {
      color: #fff;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .messageSystemChange {
    margin: 16px 0;
    .messageSystemContent {
      color: #fff;
      background: none;
      padding: 10px;
      border-radius: 10px;
      max-width: 95%;
      margin: 0;
      border: none;
    }
    .messageTime {
      color: #8E8E93;
      font-size: 12px;
      font-style: italic;
      margin-left: auto;
    }
    .readMoreBtn {
      color: #996C42;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .messageSystem {
    margin: 16px 0;
    .messageSystemContent {
      color: #fff;
      background: rgba(0, 0, 0, 0.12);
      padding: 10px;
      border-radius: 10px;
      max-width: 95%;
      margin: 0;
      border: 1px solid rgba(181, 202, 221, 0.24);
    }
    .messageTime {
      color: #8E8E93;
      font-size: 12px;
      font-style: italic;
      margin-left: auto;
    }
    .readMoreBtn {
      color: #996C42;
      font-size: 14px;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
  }

  .messageSystemBottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
  }
  .messageTime {
    color: #8E8E93;
    font-size: 12px;
    font-style: italic;
  }

  .chatInputSection {
    width: 100%;
    display: flex;
    align-items: center;
    //background-color: #1a2e3f;
    padding: 10px;
    border-radius: 12px;
    background-color: rgba(199,204,205, 0.2);

    .chatInput {
      flex-grow: 1;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background: none;
      color: #fff;
      outline: none;
    }

    .micButton {
      background: none;
      border: none;
      cursor: pointer;
      margin-left: 10px;

      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
.submitButton {
  border: none;
  height: 28px;
  width: 28px;
  margin-top: 0;
  background: #996C42;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding-left: 8px;
  &:hover {
    opacity: 0.8;
  }
}
.micButton {
  height: 28px;
  width: 28px;
  margin-right: 10px;
}
.bookTitle {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content:space-between;
  max-width: 1050px;
  margin: 0 auto;
  font-size: 19px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  padding-bottom: 20px;
}
.spinner {
  width: 24px;
  height: 24px;
  border: 3px solid #ccc;
  border-top: 3px solid #007bff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.avatarFace {
  height: 60vh;
  opacity: 0.4;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 15px;
  position: relative;
}
.collapseButton {
  margin-left: 15px;
  color: #996C42;
  padding: 15px 0;
  font-size: 14px;
  font-weight: 600;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
}
.collapseContent {

  max-height: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-bottom: 10px;
  scrollbar-color: #8E8E93 rgba(255, 255, 255, 0.1); /* Цвет ползунка */
  scrollbar-width: thin; /* Узкий скроллбар */
  ::-webkit-scrollbar {
    width: 8px; /* Ширина скроллбара */
  }
  ::-webkit-scrollbar-thumb {
    background: #8E8E93; /* Цвет ползунка */
    border-radius: 5px;
  }
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); /* Цвет трека */
  }
}
.panelHeader {
  display: flex;
  align-items: center;
  gap: 10px; /* Расстояние между иконкой и текстом */
}
.chatWrap {
  display: flex;
  align-items: center;
}

.languageSelectWrapper {
  cursor: pointer;
  display: flex;
  height: 39px;
  align-items: center;
  text-align: start;
  border-radius: 22px;
  padding: 3px 30px 3px 6px;
  color: #996C42 !important;
  background-image: url('../../../../assets/images/icons/arrowProfile.svg');
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
  font-size: 14px;
  box-sizing: border-box;
  outline: none;
  background-color: rgba(199, 204, 205, 0.2);
  font-weight: 700;
  img {
    width: 25px;
    height: 25px;
    margin-right: 7px;
    margin-top: -3px;
  }
}
.languageSelect {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 140%;
  margin-right: 7px;
}
