.notificationWrap {
  display: flex;
  border-bottom: 1px solid rgba(153,108,66, 0.2);
  padding-bottom: 10px;
}
.notificationsTitle {
  font-size: 27px;
  font-weight: 700;
}
.notificationsBottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notificationImage {
  width: 40px;
  height: 58px;
  margin-right: 17px;
  img {
    width: 100%;
  }
}
.infoTitle {
  font-size: 18px;
  font-weight: 700;
}
.notificationLink {
  color: #996C42;
  font-weight: 700;
}
.timeSent {
  font-size: 14px;
  color: rgba(120, 120, 120, 1)
}
